{extend name="../../admin/view/main"}

{block name="button"}
<!--{if auth("add")}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-open='{:url("add")}'>添加产品</button>
<!--{/if}-->

{if isset($type) and $type eq 'index'}
<!--{if auth("remove")}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-action='{:url("remove")}' data-rule="code#{key};deleted#1">删除产品</button>
<!--{/if}-->
{else}
<!--{if auth("remove")}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-action='{:url("remove")}' data-confirm="确定要恢复这些数据吗？" data-rule="code#{key};deleted#0">恢复项目</button>
<!--{/if}-->
{/if}

{/block}

{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white">
    <ul class="layui-tab-title">
        {foreach ['index'=>'产品管理'] as $k=>$v}
        {if isset($type) and $type eq $k}
        <li class="layui-this" data-open="{:url('index')}?type={$k}">{$v}</li>
        {else}
        <li data-open="{:url('index')}?type={$k}">{$v}</li>
        {/if}{/foreach}
    </ul>
    <div class="layui-tab-content">
        {include file='soft/project/index_search'}
        <table class="layui-table margin-top-10" lay-skin="line">
            {notempty name='list'}
            <thead>
            <tr>
                <!-- <th class='list-table-check-td think-checkbox'>
                    <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
                </th>
                 -->
                <th class='text-left nowrap'>项目信息</th>
                <th class='text-left nowrap'>负责人</th>
                <th class='text-left nowrap'>项目编号</th>
                <th class='text-left nowrap'>产品名称</th>
                <th class='text-left nowrap'>创建时间</th>
                <th class='list-table-sort-td'>
                    <button class="layui-btn layui-btn-xs" data-reload type="button">刷 新</button>
                </th>
            </tr>
            </thead>
            {/notempty}
            <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <!-- <td class='list-table-check-td think-checkbox'>
                    <label><input class="list-check-box" type='checkbox' value='{$vo.version}'></label>
                </td> -->
                <td class='nowrap'>
                    <div class="inline-block sub-span-blue">
                        <div><span>{$vo.name|default='--'}</span></div>
                    </div>
                </td>
                <td class='nowrap'>
                    <div class="inline-block sub-span-blue">
                        <div><span>{$vo.charge_name|default='--'}</span></div>
                    </div>
                </td>
                <td class='nowrap'>
                    <div class="inline-block sub-span-blue">
                        <div><span>{$vo.version|default='--'}</span></div>
                    </div>
                </td>
                <td class='nowrap'>
                    <div class="inline-block sub-span-blue">
                        <div><span>{$vo.s_name|default='--'}</span></div>
                    </div>
                </td>
                <td class='nowrap'>
                    <div class="inline-block sub-span-blue">
                        <div><span>{$vo.sc_time|default='--'}</span></div>
                    </div>
                </td>
                <td class='nowrap sub-strong-blue'>
                    <!--{if auth("edit")}-->
                    <a class="layui-btn layui-btn-xs" data-open='{:url("edit")}?id={$vo.sid}'>编 辑</a>
                    <!--{else}-->
                    <a class="layui-btn layui-btn-xs layui-btn-primary layui-disabled" data-tips-text="您没有编辑商品的权限哦！">编 辑</a>
                    <!--{/if}-->

                    {if isset($type) and $type eq 'index'}
                    
                    <!--{if auth("remove")}-->
                    <a class="layui-btn layui-btn-xs layui-btn-danger" data-action="{:url('remove')}" data-confirm="确定要移入回收站吗？" data-value="id#{$vo.sid};delete_at#{:date("y-m-d H:i:s",time())}">删 除</a>
                    <!--{/if}-->
                    {/if}
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>
{/block}